<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mr.kostua.learningpro">

    <application
        android:name=".injections.LearningProApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".mainPage.executionService.NewCourseCreationService"
            android:exported="false" />

        <activity
            android:name=".appSettings.SettingPreferencesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/settings_vector_icon"
            android:label="@string/settingsPreferencesLabel"
            android:screenOrientation="portrait"
            android:theme="@style/customSettingsPreferencesStyle" />

        <receiver
            android:name=".main.MainReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="CONTINUE_COURSE_CREATION" />
            </intent-filter>
        </receiver>

        <activity android:name=".questionsCardPreview.QuestionsCardsPreviewActivity"
            android:parentActivityName=".main.MainActivity"/>
    </application>

</manifest>